body{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	padding: 0;
	margin: 0;
}

li {
  list-style: none;
}

.left{float: left;}
.right{float: right;}
.container{
	padding-left: 7%;
	padding-right: 7%;
}

/*HEADER*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	width: auto;
	height: auto;
	background: none;
}

.header .judul{
	float: left;
	width: 150px;
	padding-left: 0px;
	margin-top: 10px;
}

.header .list-menu li{
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.header a{
	float: left;
	margin: 8px 100px;
  padding: 0.5vw 2vw;
	font-family: Quicksand;
	font-size: large;
	font-weight: 500;
	border: #ebebeb solid 1px;
  background-color: #5bd961;
  display: inline-block;
  opacity: 0.8;
  border-radius: 100px;
}

a:hover {
  opacity: 1;
}

.header .menu .list-menu a{color: rgb(75,75,75);display: block;}
.header .responsive-menu{font-size: 2.5em;color: white;padding: 1vw 0;display: none;}
.header_pas_turun{
	background: linear-gradient(to right, rgba(103,58,183,1), rgba(156,39,176,1));
	box-shadow: rgba(0,0,0,0.3) 0 10px 20px -10px;
	/*animation-name: transparentHeader;
	animation-duration: 1s;*/
}
/*@keyframes transparentHeader{
	from{background: linear-gradient(to right, rgba(103,58,183,0), rgba(156,39,176,0));}
	to{background: linear-gradient(to right, rgba(103,58,183,1), rgba(156,39,176,1));}
}*/
/*end header*/

/*beranda, design,*/
.banner{
	position: relative;
	width: 100%;
	height: auto;
	background: none;
	overflow: hidden;
	margin-bottom: 50px;
}

.banner .grafik{
	width: 100%;
	height: 53vw;
	background: linear-gradient(to right, #673ab7, #9c27b0);
	transform: skewY(-20deg);
	transform-origin: 0;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 30%;
	box-shadow: rgba(0,0,0,0.3) -2vw 5px 0 0;
	animation-name: borderGrafik;
	animation-duration: 1s;
}

@keyframes borderGrafik{
	from{
		border-bottom-left-radius: 0%;
		border-bottom-right-radius: 0%;
	}
	to{
		border-bottom-left-radius: 30%;
		border-bottom-right-radius: 30%;
	}
}

.banner .grafik img{
	position: relative;
	top: 37vw;
	right: 5vw;
	width: 30%;
	transform: skewY(20deg);
	animation-name: come_to_pc;
	animation-duration: 3s;
}

@keyframes come_to_pc{
	0%{top: 0;}
	100%{top: 37vw;}
}

.Responsive-bro{
	z-index: 200;
	position: left;
	left: 10vw;
	padding-left: 100px;
	padding-top: 20px;
	width: 200px;
}

.Responsive-bro2{
	z-index: 200;
	float: right;
	left: 10vw;
	padding-right: 100px;
	padding-top: 40px;
	width: 200px;
}

.banner .title_banner{
	position: relative;
	top: 20vw;
	left: 9vw;
	font-family: Roboto;
	color: white;
	transform: skewY(20deg);
}
.banner .title_banner h1{
	font-size: 35px;
}
.banner .title_banner h2{
	font-size: 25px;
}
.banner .title_banner p{
	font-size: 15px;
}
.banner .title_banner span{
	color: red;
}

.btn-wrapper {
  margin-top: 60px;
}
.btn-wrapper p {
  margin: 15px 0;
}
.signup {
  background-color: #ee6755;
}
.facebook {
  background-color: #037bfc;
  margin-right: 10px;
}
.twitter {
  background-color: #03d3fc;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}

.copy-container {
	padding-top: 5px;
}

.banner .title_banner_2{
	float: left;
	padding-left: 30px;
	padding-top: 10px;
	font-family: sans-serif;
	color: black;
}
.banner .title_banner_2 h1{
	font-size: 25px;
}
.banner .title_banner_2 p{
	font-size: 15px;
}

.banner .title_banner_3{
	float: right;
	padding-top: 10px;
	padding-right: 30px;
	font-family: sans-serif;
	color: black;
}
.banner .title_banner_3 h1{
	font-size: 25px;
}
.banner .title_banner_3 p{
	font-size: 15px;
}


.lesson-wrapper {

	width: 100%;
	height: auto;
	padding: 2vw 0;
	text-align: center;
  padding-bottom: 100px;
  text-align: center;
}
.heading {
	padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.heading h1 {
  font-weight: normal;
}
.heading p {
  font-size: 13px;
}

.lesson {
  float: left;
	padding-top: 80px;
  width: 16%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  top: 90px;
  width: 100%;
  color: black;
}
.txt-contents {
  width: 90%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}


.banner .grafik2 .title_banner_2 p{padding: 0;margin: 0;}

/* Ini Untuk Artikel */
article{
	width: 100%;
	height: auto;
	padding: 2vw 0;
	text-align: center;
	font-family: Roboto;
	color: rgb(75,75,75);
}
article h1{font-size: 2em;}
article .post{
	width: 45%;
	height: auto;
	border-radius: 7px;
	box-shadow: rgba(0,0,0,0.3) 0 10px 20px -10px;
	display: inline-block;
	margin: 2%;
	overflow: hidden;
}
article .post img{width: 100%;}
article .post button{
	border: none;
	padding: 1.5vw;
	border-radius: 7px;
	background: #4caf50;
	font-family: Roboto;
	font-size: normal;
	color: white;
	margin-bottom: 2vw;
	outline-width: 0;
	cursor: pointer;
	transition: opacity 0.3s;
}
article .post button:hover{opacity: 0.9}


article .post1{
	width: 30%;
	height: auto;
	border-radius: 7px;
	box-shadow: rgba(0,0,0,0.3) 0 10px 20px -10px;
	display: inline-block;
	margin: 1%;
	overflow: hidden;
}
article .post1 img{width: 100%;}
article .post1 button{
	border: none;
	padding: 1.5vw;
	border-radius: 7px;
	background: #58cad6;
	font-family: Roboto;
	font-size: normal;
	color: white;
	margin-bottom: 2vw;
	outline-width: 0;
	cursor: pointer;
	transition: opacity 0.3s;
}
article .post1 button:hover{opacity: 0.3}

article .post1 p {
	font-size: 15px;
}

article .logo {
	width: 75px;
	align-content: center;
	margin: 3%;
	margin-top: 0%;
}
/* End of Article */

/* KONTAK KAMI */
.container h1{
	text-align: center;
}

.grid {
	float:left;
}

.grid2 {
	float: left;
	padding-left: 50px;
}
.grid2 p {
	padding-bottom: 0px;
	font-size: 15px;
}
.grid2 span {
	color: red;
}
input, textarea{
  width: 300px;
  margin-top: 0px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
.contact-submit{
	margin-bottom: 150px;
  background-color: #dee7ec;
  color: #889eab;
	align-items: center;
}


/*end kontak kami*/
article .post2{
	width: 30%;
	height: 35%;
	border-radius: 7px;
	box-shadow: rgba(0,0,0,0.3) 0 10px 20px -10px;
	display: inline-block;
	margin: 1.5%;
	overflow: hidden;
}
article .post2 img{width: 100%;}
article .post2 button{
	border: none;
	padding: 1vw;
	border-radius: 7px;
	background: #58cad6;
	font-family: Roboto;
	font-size: normal;
	color: white;
	margin-bottom: 1vw;
	outline-width: 0;
	cursor: pointer;
	transition: opacity 0.3s;
}
article .post2 button:hover{opacity: 0.3}
article .post2 p {
	font-size: 15px;
	text-align: left;
}
/*end kontak kami*/

/*footer*/
.footer {
  color: black;
  height: 120px;
  padding: 40px;
}
.footer .footer-utama{
	float: left;
	width: 200px;
	padding-left: 60px;
	margin-top: 10px;
}
.footer-kedua {
  float: right;
}
.footer-kedua li {
  padding-bottom: 20px;
}
/*end footer*/

@media screen and (max-width: 800px){
	.banner .grafik img{width: 40%;top: 50vw;}
	.banner .grafik{height: 80vw;}
	.banner .title_banner{font-size: 4em;top: 30vw;}
	@keyframes come_to_pc{
		0%{top: 0;}
		100%{top: 50vw;}
	}
	.Responsive-bro{width: 45%;top: 5vw;left: 2vw;}
	.banner .grafik2{height: 50vw}
	.banner .grafik2 .title_banner_2{font-size: 3em;right: 28vw;}
	article .post{width: 100%;}
}
@media screen and (max-width: 480px){
	.banner .grafik img{width: 48%;}
	.banner .grafik{height: 60vw;}
	.header .menu{display: none;}
	.header .responsive-menu{display: block;}
	.header{background: linear-gradient(to right, #673ab7, #9c27b0);}
	.banner .grafik{
		height: 190vw;
		border-bottom-left-radius: 0%;
		border-bottom-right-radius: 0%;
		animation: none;
		box-shadow: none;
	}
	.banner .grafik img{
		width: 75%;
		right: 14vw;
		top: 50vw;
	}
	.banner .title_banner{top: 53vw;left: 15vw;font-size: 4em;text-align: right;}
	.banner .grafik2{float: right;width: 100%;right: -20vw;height: 60vw;}
	.Responsive-bro{width: 90%;left: 4vw;}
	.banner .grafik2 .title_banner_2{
		font-size: 2.5em;
		transform: skewX(-50deg);
		top: 7vw;
		right: 35vw;
		text-shadow: rgba(0,0,0,0.6) -5px -1px 0;
	}
	article .post button{
		padding: 3vw;
		margin-bottom: 5vw;
	}
}
@media screen and (max-width: 320px){
	.banner .title_banner{top: 53vw;left: 10vw;font-size: 3.5em;}
	.banner .grafik{height: 200vw;}
	.banner .grafik2{float: right;width: 100%;right: -50vw;height: 100vw;}
}
